<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/contactanos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
</head>
<body>
     
    <!--Menu-->
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="../views/Productos.html">Productos</a>
            <a href="../views/contactanos.html">contactanos</a>
            <a href="../views/iniciosesion.html">iniciar sesion</a>
            
        </nav>
        <section class="textos-header">
            <h1>Parchate y disfruta</h1>
            <h2 ><img src="" alt=""></h2>
        </section>
        
    </header>
    <!--Menu-->

    <section class="contacto">
        <h2>Contactanos</h2>
        <p>¡Estamos aquí para responder a tus preguntas y comentarios!</p>
        <form action="../index.html" method="get">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="correo">Correo Electrónico:</label>
            <input type="email" id="correo" name="correo" required>

            <label for="mensaje">Mensaje:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>

            <button type="submit">Enviar Mensaje</button>
        </form>
    </section>

      <!--pie de pagina-->

      <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefonos</h4>
                <p>3014185659</p>
            </div>
            <div class="content-foo">
                <h4>Correo electronico</h4>
                <p><a href="https://mail.google.com/mail/u/1/#inbox">GRANISHOP@gmail.com</a></p>
            </div>
            <div class="content-foo">
                <h4>Ubicacion</h4>
                <p>cll 89 A 8 interior 404</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy; 2023 | GRANISHOP</h2>
    </footer>
    <!--pie de pagina-->
</body>
</html>