<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GRANISHOP</title>
    <link rel="shortcut icon" href="../assets/img/FZJE9906-1.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/Estilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<body>
    
   
    <!--Menu-->
    <header>
      <nav>
          <a href="../index.html">Inicio</a>
          <a href="../views/Productos.html">Productos</a>
          <a href="../views/contactanos.html">contactanos</a>
          <a href="../views/iniciosesion.html">iniciar sesion</a>
          
      </nav>
      <section class="textos-header">
          <h1>Parchate y disfruta</h1>
          <h2 ><img src="" alt=""></h2>
      </section>
      
  </header>
  <!--Menu-->
  
  <!-- tarjetas sin y con -->
<h2 class="titul">Granizados con alcohol y sin alcohol</h2>
<div class="tarjeta-container">
  <div class="tarjeta">
    <img src="../assets/img/gr_1.jpg" alt="Imagen 01"  class="graun">
    <h3>Granizado de mandarina</h3>
    <p>El ingrediente estrella en este granizado es la mandarina. Es ideal tomarla en un día de mucho sol.</p>
    <P> $ 10.000</P>
   <center><button name="button">COMPRA AHORA</button></center> 
  </div>
  <div class="tarjeta">
    <img src="../assets/img/gr_2.jpg" alt="Imagen 02" class="graun">
    <h3>Granizado de maracuya</h3>
    <p>Si te gustan la maracuya este granizado  es para ti.
      Ideal para las noches de billar con los amigos y para reuniones donde 
      se tomen el tiempo de preparar unos buenos tragos.</p>
    <P> $ 15.000</P>
    <center><button name="button">COMPRA AHORA</button></center> 
  </div>
  <div class="tarjeta">
    <img src="../assets/img/gr_3.jpg" alt="Imagen 03" class="graun">
    <h3>Granizado de frutos rojos</h3>
    <p>Es el granizado mas comun en Colombia Anímate a pedir esta deliciosa 
      granizado de frutos rojos, aunque puede hacerse con otro tipo de frutas.</p>
      <P> $ 10.000</P>
      <center><button name="button">COMPRA AHORA</button></center> 
  </div>
  <div class="tarjeta">
    <img src="../assets/img/gr_4.jpg" alt="Imagen 04" class="graun">
    <h3>Granizado de cafe</h3>
    <p>Es verdaderamente una bebida refrescante, que tiene una preparación muy 
      sencilla y que puedes pedir para compartir con tus invitados,
       con amigos en una celebración y salir de la rutina.</p>
       <P> $ 10.000</P>
       <center><button name="button">COMPRA AHORA</button></center> 
      </div>
  <div class="tarjeta">
    <img src="../assets/img/gr_5.jpg" alt="Imagen 05" class="graun">
    <h3>Granizado de mandarina</h3>
    <p>Buscas una experiencia refrescante y frutal Nuestro granizado de mandarina es la opción ideal. Preparamos esta bebida única con licor si lo prefieres. </p>
    <P> $ 10.000</P>
    <center><button name="button">COMPRA AHORA</button></center> 
  </div>
  <div class="tarjeta">
    <img src="../assets/img/gr_6.jpg" alt="Imagen 06" class="graun">
    <h3>Granizado de cereza</h3>
    <p>¿Buscas un granizado con un toque de cereza Nuestra versión de cereza es una elección tentadora. la cereza con alcohol si lo prefieres se combinan para crear una experiencia de sabor única. </p>
    <P> $ 10.000</P>
    <center><button name="button">COMPRA AHORA</button></center> 
  </div>
</div>

<!-- fin sin y  con -->
<h2 class="titul">Micheladas</h2>

    <div class="tarjeta-container">
        <div class="tarjeta">
          <img src="../assets/img/michelada1.jpg" alt="Imagen 1">
          <h3>MICHELADA CLASICA</h3>
          <p>El ingrediente estrella en esta cerveza es el limón. Es ideal tomarla en un día de mucho sol.</p>
          <P> $ 10.000</P>
         <center><button name="button">COMPRA AHORA</button></center> 
        </div>
        <div class="tarjeta">
          <img src="../assets/img/gomichela.jpg" alt="Imagen 2">
          <h3>GOMICHELA</h3>
          <p>Si te gustan el chile y las gomitas enchiladas esta chela es para ti.
            Ideal para las noches de billar con los amigos y para reuniones donde 
            se tomen el tiempo de preparar unos buenos tragos.</p>
          <P> $ 15.000</P>
          <center><button name="button">COMPRA AHORA</button></center> 
        </div>
        <div class="tarjeta">
          <img src="../assets/img/micheladamango.jpg" alt="Imagen 3">
          <h3>MICHELADA MANGO</h3>
          <p>Es la Michelada mas comun en Colombia Anímate a pedir esta deliciosa 
            Michelada con Mango, aunque puede hacerse con otro tipo de frutas.</p>
            <P> $ 10.000</P>
            <center><button name="button">COMPRA AHORA</button></center> 
        </div>
        <div class="tarjeta">
          <img src="../assets/img/micheladamaracuya.png" alt="Imagen 4">
          <h3>MICHELADA MARACUYA</h3>
          <p>Es verdaderamente una bebida refrescante, que tiene una preparación muy 
            sencilla y que puedes pedir para compartir con tus invitados,
             con amigos en una celebración y salir de la rutina.</p>
             <P> $ 10.000</P>
             <center><button name="button">COMPRA AHORA</button></center> 
            </div>
        <div class="tarjeta">
          <img src="../assets/img/frutasfrescas.jpg" alt="Imagen 5">
          <h3>MICHELADA DE FRUTAS FRESCAS</h3>
          <p>¿Buscas una experiencia refrescante y frutal? Nuestra michelada de frutas 
            frescas es la opción ideal. Preparamos esta bebida única con cerveza, jugo de tomate fresco y una mezcla de frutas como fresas, piña y sandía. </p>
          <P> $ 10.000</P>
          <center><button name="button">COMPRA AHORA</button></center> 
        </div>
        <div class="tarjeta">
          <img src="../assets/img/michetamarindo.jpg" alt="Imagen 6">
          <h3>MICHELADA DE TAMARINDO</h3>
          <p>¿Buscas una michelada con un toque agridulce? Nuestra versión de tamarindo y limón es una elección tentadora. Cerveza, jugo de tamarindo y 
            limón se combinan para crear una experiencia de sabor única. </p>
          <P> $ 10.000</P>
          <center><button name="button">COMPRA AHORA</button></center> 
        </div>
      </div>
<!--pie de pagina-->

<footer>
  <div class="contenedor-footer">
      <div class="content-foo">
          <h4>Telefonos</h4>
          <p>3014185659</p>
      </div>
      <div class="content-foo">
          <h4>Correo electronico</h4>
          <p><a href="https://mail.google.com/mail/u/1/#inbox">GRANISHOP@gmail.com</a></p>
      </div>
      <div class="content-foo">
          <h4>Ubicacion</h4>
          <p>cll 89 A 8 interior 404</p>
      </div>
  </div>
  <h2 class="titulo-final">&copy; 2023 | GRANISHOP</h2>
</footer>
<!--pie de pagina-->
</body>
</html>